* {
    padding: 0;
    margin: 0;
}
html {
    display: flex;
    justify-content: center;
    background-color: gray;
    font-family: 'Courier New', Courier, monospace;
}
header {
    padding: 8px;
    margin: 24px;
    color: orange;
    background-color: black;
    border: 1px solid orange;
    border-radius: 10px;
}